<form action="/login" method="get">
  <input type="text" name="user">
  <input type="submit" value="LOGIN">

</form>

<p> Division : <%= Division %></p>
<p> Age : <%= Age %></p>
<p> Address : <%= Address %></p>